.container{
    grid-template-rows: auto;
    grid-template-columns: 100%;
    width: 100%;
    max-width: 120rem;
    height: 80vh;
    margin: 0 auto;
    row-gap: 3rem;
}
.first{
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    padding-top: 2rem;
}
.first__letter{
    align-items: flex-start;
    text-align: left;
    gap: 2rem;
}
.first__letter h1{
    width: 50%;
    font-size: 3.7rem;
}
.first__letter p{
    width: 68%;
}
.first__star-review article{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.first__star-review{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 1rem;
}
.first__star-review article:nth-child(2){
    margin-left: 4rem;
}
.first__star-review article:nth-child(3){
    margin-left: 8rem;
}
.second{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 32rem);
    column-gap: 3rem;
    justify-self: left;
    padding: 2rem 2rem;
    height: 35rem;
}
.second article:nth-child(2){
    margin-top: 2rem;
}
.second article:nth-child(3){
    margin-top: 4rem;
}
.font1{
    position: absolute;
    width: 70%;
    height: 50rem;
    left: -30rem;
    background-image: url(https://andy-devcode.github.io/social-proof-section-master/assets/bg-pattern-top-desktop.svg);
}
.font2{
    position: absolute;
    width: 80%;
    height: 80rem;
    right: 0;
    bottom: -20rem;
    background-image:url(https://andy-devcode.github.io/social-proof-section-master/assets/bg-pattern-bottom-desktop.svg);
}